* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  height: 100vh;
  font-family: 'roboto';
  background-color: #ffffff;
  padding: 50px;
}

.text-container {
  background-color: #ffc533;
  width: 50vw;
  padding: 8px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.para-container {
  background-color: #ffbf1f;
  height: 180px;
  padding: 20px;
}
.input-container {
  background-color: #0f172a;
  width: 50vw;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #ffc533;
}
.para {
  font-size: 25px;
  color: #334155;
  font-weight: 700;
}
.searchInput {
  border: 0px;
  width: 250px;
  height: 40px;
  margin-right: 8px;
  border-radius: 5px;
  padding-left: 14px;
}
.add-btn {
  width: 80px;
  height: 40px;
  border-radius: 6px;
  border: none;
  background-color: #ffc533;
  color: #475569;
  font-weight: 600;
}
.no-user-input {
  width: 100%;
  margin-top: 120px;
}
